.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.banner::before {
  content: "";
  background-image: url(../../assets/images/confetti-banner.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%;
  top: -15%;
  width: 100%;
  height: 240px;
  max-height: 240px;
}

.banner::after {
  content: "";
  background-image: url(../../assets/images/confetti-banner.svg);
  background-repeat: no-repeat;
  position: absolute;
  background-size: 100%;
  bottom: -20%;
  width: 100%;
  height: 240px;
  max-height: 170px;
  transform: rotate(-180deg);
}

.conteudo-banner {
  font-style: normal;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  position: absolute;
  width: 60%;
  text-align: right;
}

.conteudo-banner h2 {
  font-size: 3em;
  font-weight: 300;
}

.conteudo-banner p {
  font-size: 1.5em;
}

.conteudo-banner span {
  color: #FF6143;
  font-weight: bold;
}

.button-home {
  padding: .6rem 2.25rem;
  display: inline-block;
  background-color: #ff6143;
  border-radius: 20px;
  margin-top: 1.5em;
  border: 1px solid #ff6143;
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.button-home:hover {
  filter: brightness(150%);
}

@media (max-width: 768px) {
  .conteudo-banner {
    padding-left: 20px;
    font-size: 50%;
    text-align: left;
  }
  .button-home {
    padding: .5rem 1.25rem;
    font-size: 10px;
  }
  .banner::after {
    height: 40%;
  }
  .banner::before {
    height: 50%;
  }
}

@media (max-width: 320px) {
  .conteudo-banner {
    padding-left: 4px;
    font-size: 30%;
  }
}